services:
  desktop:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: simple-agent-desktop
    security_opt:
      - seccomp:unconfined
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - CUSTOM_USER=agent
      - PASSWORD=password
    volumes:
      - ./config:/config
      - ./custom-cont-init.d:/custom-cont-init.d:ro
    ports:
      - 3000:3000
    shm_size: "2gb"
    restart: unless-stopped